$text: LightGrey;
$bg: rgb(20, 20, 20);
* {
    font-family: 'pragmatica', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: $text;
    text-decoration: none;
}
html {
    background: #151515;
    overflow: hidden;
}
body {
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-thumb {
    background: $text;
}
::-webkit-scrollbar-track {
    background: $bg;
}
/**#cursor {
    z-index: 1000;
    position: fixed;
    height: 20px;
    width: 20px;
    background: $text;
    border-radius: 50%;
    pointer-events: none;
}
#cursorFollower {
    z-index: 900;
    position: fixed;
    height: 100px;
    width: 100px;
    background: $bg;
    border-radius: 50%;
    pointer-events: none;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.08,.35,.16,1.02);
}*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    .logo {
        font-size: 30px;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 160px;
        a {
            font-size: 20px;
        }
    }
}
#pageWrap {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-top: 80px;
    h1 {
        font-size: 9em;
        text-align: center;
        padding: 120px 0;
        text-transform: uppercase;
    }
    #projects {
        display: inline-block;
        column-count: 4;
        column-gap: 40px;
        img {
            width: 100%;
            padding-bottom: 40px;
        }
    }
    p {
        font-size: 4em;
        line-height: 1.25;
        padding-bottom: 40px;
    }
}
footer {
    width: 100%;
    text-align: center;
    font-size: 16px;
    opacity: .4;
    padding: 14px 0;
}
#preload {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    background: $bg;
    transition-duration: 2s;
    top: 0;
    left: 0;
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    p {
        font-size: 2em;
        transition-duration: .75s;
    }
}
@media screen and (max-width: 1200px) {
    #pageWrap {
        h1 {
            font-size: 7em;
        }
        #projects {
            column-count: 3;
        }
    }
}
@media screen and (max-width: 900px) {
    #pageWrap {
        h1 {
            font-size: 5em;
        }
        #projects {
            column-count: 2;
        }
    }
}
@media screen and (max-width: 650px) {
    ::-webkit-scrollbar {
        display: none;
    }
    #header {
        .logo {
            font-size: 26px;
        }
        ul {
            width: 120px;
            a {
                font-size: 16px;
            }
        }
    }
    #pageWrap {
        h1 {
            font-size: 4.5em;
        }
        #projects {
            column-count: 1;
        }
    }
}