$text: #fff;
$bg: #151515;
* {
    font-family: 'paralucent', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: $text;
    text-decoration: none;
}
html {
    background: #151515;
    overflow: hidden;
}
body {
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-thumb {
    background: $text;
}
::-webkit-scrollbar-track {
    background: $bg;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: $bg;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    .logo {
        font-size: 30px;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 160px;
        a {
            font-size: 20px;
        }
    }
}
#pageWrap {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 0 40px 40px 40px;
    box-sizing: border-box;
    margin-top: 80px;
    scroll-behavior: smooth;
    h1 {
        font-size: 9em;
        text-align: center;
        padding: 120px 0;
        text-transform: uppercase;
    }
    #projects {
        display: inline-block;
        column-count: 4;
        column-gap: 40px;
        img {
            width: 100%;
            padding-bottom: 40px;
        }
    }
}

@media screen and (max-width: 1200px) {
    #pageWrap {
        h1 {
            font-size: 7em;
        }
        #projects {
            column-count: 3;
        }
    }
}
@media screen and (max-width: 900px) {
    #pageWrap {
        h1 {
            font-size: 5em;
        }
        #projects {
            column-count: 2;
        }
    }
}
@media screen and (max-width: 650px) {
    #header {
        .logo {
            font-size: 26px;
        }
        ul {
            width: 120px;
            a {
                font-size: 16px;
            }
        }
    }
    #pageWrap {
        h1 {
            font-size: 4.5em;
        }
        #projects {
            column-count: 1;
        }
    }
}