* {
  font-family: 'pragmatica', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: LightGrey;
  text-decoration: none;
}

html {
  background: #151515;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: LightGrey;
}

::-webkit-scrollbar-track {
  background: #141414;
}

/**#cursor {
    z-index: 1000;
    position: fixed;
    height: 20px;
    width: 20px;
    background: $text;
    border-radius: 50%;
    pointer-events: none;
}
#cursorFollower {
    z-index: 900;
    position: fixed;
    height: 100px;
    width: 100px;
    background: $bg;
    border-radius: 50%;
    pointer-events: none;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.08,.35,.16,1.02);
}*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .logo {
  font-size: 30px;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
}

#header ul a {
  font-size: 20px;
}

#pageWrap {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 0 40px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-top: 80px;
}

#pageWrap h1 {
  font-size: 9em;
  text-align: center;
  padding: 120px 0;
  text-transform: uppercase;
}

#pageWrap #projects {
  display: inline-block;
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

#pageWrap #projects img {
  width: 100%;
  padding-bottom: 40px;
}

#pageWrap p {
  font-size: 4em;
  line-height: 1.25;
  padding-bottom: 120px;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 16px;
  opacity: .4;
  padding: 14px 0;
}

#preload {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 101;
  background: #141414;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  top: 0;
  left: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#preload p {
  font-size: 2em;
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
}

@media screen and (max-width: 1200px) {
  #pageWrap h1 {
    font-size: 7em;
  }
  #pageWrap #projects {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media screen and (max-width: 900px) {
  #pageWrap h1 {
    font-size: 5em;
  }
  #pageWrap #projects {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media screen and (max-width: 650px) {
  ::-webkit-scrollbar {
    display: none;
  }
  #header .logo {
    font-size: 26px;
  }
  #header ul {
    width: 120px;
  }
  #header ul a {
    font-size: 16px;
  }
  #pageWrap h1 {
    font-size: 4.5em;
  }
  #pageWrap #projects {
    -webkit-column-count: 1;
            column-count: 1;
  }
}
/*# sourceMappingURL=styles.css.map */