* {
  font-family: Styrene B, serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  cursor: none;
  letter-spacing: -.02em;
}

html {
  background: white;
  overflow: hidden;
}

#cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  pointer-events: none;
}

#cursor div {
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
  height: 2px;
  width: 40px;
  position: absolute;
}

#cursor .a {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#cursor span {
  height: 2px;
  width: 2px;
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: LightGrey;
}

::-webkit-scrollbar-track {
  background: #141414;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
  font-size: 20px;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header #links {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header a {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#header a:hover {
  border-bottom: 2px solid black;
}

#pageWrap {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pageWrap #projects {
  height: 170vh;
  width: 170vw;
  position: absolute;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
}

#pageWrap #projects img {
  height: 24vw;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#about {
  margin: 60px 25px;
}

#about #desc {
  font-size: 6vw;
  line-height: 1.15;
  color: #333;
}

#about #desc a {
  color: #333;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  border-bottom: 4px solid white;
}

#about #desc a:hover {
  border-bottom: 4px solid #333;
}
/*# sourceMappingURL=styles.css.map */